body
{
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-color: #444;
    color: #ccc;
}

#screen
{
    position: absolute;
    left:0;
    top:0;
}

#ui
{
    position: absolute;
    bottom: 0;
    right: 0;
    background: #000;
    color: #ccc;
}

#ui a
{
    color: #fff;
    font-family: monospace;
    font-size: 0.8rem;
}

#param-ui
{
    position: absolute;
    bottom: 1.5rem;
    background: #000;
    color: #ccc;
    right: 0;
    max-height: 96vh;
    overflow: auto;
}
